<div>
  <h1 class="font-bold text-4xl">Search</h1>

  <%= form_tag cards_search_path, method: :post, data: { turbo_frame: "search_results" } do %>
    <%= search_field_tag "search" %>
    <%= submit_tag "Search" %>
  <% end %>
  <hr class="my-12" />

  <%= turbo_frame_tag "search_results" %>
</div>
